body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fafafa;
}

h1 {
  font-size: 24px;
  color: rgba(33, 33, 33, 0.863);
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}
h2 {
  font-size: 14px;
  line-height: 19px;
  color: rgba(33, 33, 33, 0.863);
  margin-bottom: 20px;
}
h1:first-letter {
  text-transform: capitalize;
}
ul {
  position: relative;
  bottom: 125px;
  left: 225px;
  font-weight: normal;
  font-size: 12px;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
footer {
  position: relative;
  left: 300px;
  margin: 10px;
}
.container {
  max-width: 800px;
  margin-top: 75px;
  padding: 70px;

  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px #dadde1;
  padding-top: 65px;
}
.search-bar {
  margin-bottom: 30px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  padding: 3px;
  background: #fff;
  order: 1px solid #ced4da;
}
.btn-primary {
  position: flex;
  left: 5px;
  background: #0d6efd;
  border: #0d6efd;
  border-radius: 5px;
  font-size: 16px;
  width: 50%;
  transition: all 200ms ease-in-out;
  color: white;
  padding: 5px 10px;
}
.btn-primary:hover {
  background: rgb(126, 163, 188);
  border: #0b72a0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.current-weather {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 5px;
}

.degree {
  position: relative;
  bottom: 80px;
  left: 100px;

  font-size: 15px;
}
.degree .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.degree .active:hover {
  text-decoration: none;
}
.temperature {
  position: relative;
  top: 80px;
  left: -84px;
  color: rgba(33, 33, 33, 0.863);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: 46px;
  left: -80px;
}
.celcius {
  font-weight: bold;
}
.phw {
  font-size: 16px;
  font-weight: light;
  left: 24px;
  bottom: 0;
  color: rgba(33, 33, 33, 0.863);
}
.result {
  font-weight: bold;
}
.border {
  margin-bottom: 0;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
